.header {
  background-image: url("https://images.unsplash.com/photo-1507842217343-583bb7270b66?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2653&q=80");
  background-size: cover;
  height: 40vh;
}

.header h1 {
  font-size: 5rem;
  color: #b5edba;
}
